{{ define "title" -}}
{{ if .Title }}{{ printf "%s - %s" .Title .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
{{- end }}

{{ define "content" -}}
    <article class="article">
        <section class="warning">
            <h2>For your eyes only!</h2>
            <p><i>You have been shared this content privately. Please respect that and keep it to yourself. Thank you!</i></p>
        </section>
        <section class="article-content">
        {{- .Content -}}
        </section>
    </article>
{{- end }}