@import 'global/colours';
@import 'global/mixins';

html, body {
    height: 100%;
    background: $bodyBackgroundColour;
    color: $bodyCopyColour;
    text-align: justify;
    @include font("Raleway");
}

h1, h2, h3, h4, h5
{
    @include font("Exo");
    margin: 1.25em 0 0.25em 0;
    font-weight: 800;
    color: $headingsDefaultColour;
    text-align: left;
}

h1 {
    @include fontSize(2.3em);
}

h2 {
    @include fontSize(1.8em);
}

h3 {
    @include fontSize(1.3em);
}

h4 {
    @include fontSize(1.2em);
}

h5 {
    @include fontSize(1.1em);
}

p {
    @include fontSize(1em);
    margin-bottom: 1em;

    & code {
        color: $inlineCodeColour;

        &:hover{
            color: lighten($inlineCodeColour, 15%);
        }
    }
}

a {
    &:link, &:visited {
        color: $defaultLinkColour;
        text-decoration: none;
    }

    &:hover {
        color: $defaultLinkHoverColour;
    }
}

pre {
    background: $defaultColour;
    border: 1px solid $defaultPreBorderColour;
    color: $defaultPreFontColour;

    &:hover {
        border-color: darken($defaultPreBorderColour, 25%);
    }

    &, code {
        font-family: 'Droid Sans Mono', monospace;
    } 
}