$buttonColour: #e2e2e2;

.copy-code-button {
    float: right;
    display: block;
    padding: 3px 8px;
    font-size: 0.8em;
    background-color: $buttonColour;
    border: 1px solid $buttonColour;
    border-radius: 0 0 10px 10px;
    transition: all 250ms ease;
    
    &:hover {
        cursor: pointer;
        opacity: .7;
        border-style: solid;
    }
    &:focus {
        background-color: $buttonColour;
        outline: 0;
        border-style: solid;
    }
    &:active {
        background-color: $buttonColour;
        opacity: .5;
        border-style: solid;
    }

    opacity: 0;
}

pre:hover .copy-code-button {
    opacity: 1;
}

.copy-code-button ~ pre
{
    position: relative;
}

@media print {
    .copy-code-button { 
        display: none;
    }
}