// $current represents the values passed into the breakpoints
@mixin mapToBreakpoint($values, $currentBreakpoints: $breakpoints) {
    @each $breakpoint, $value in $values {
        $current: $value !global;

        @if ($breakpoint == null) {
            @content;
        }
        @else {
            @include media($breakpoint, $currentBreakpoints) {
                @content;
            };
        }
        $current: null !global;
    }
};

@mixin media($breakpointName, $currentBreakpoints: $breakpoints, $mediaType: "min-width") {
    @if(map-has-key($currentBreakpoints, $breakpointName))
    {
        $breakpoint: map-get($currentBreakpoints, $breakpointName);
        @media screen and ($mediaType: $breakpoint)
        {
            @content;
        };
    }
}

@mixin font($mainFont)
{
    font-family: $mainFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-display: auto;
}

@mixin fontFamily($name, $url, $weight: 400)
{
    @font-face {
        font-family: $name;
        font-style: normal;
        font-weight: $weight;
        font-display: auto;
        src: local($name), url($url) format('woff2');
    }
}

@mixin fontSize($size)
{
    font-size: $size;
    line-height: $size + .5em;
}

@mixin transition($property, $duration: 500ms, $func: ease-in-out)
{
    -webkit-transition: $property $duration $func;
    -moz-transition: $property $duration $func;
    -ms-transition: $property $duration $func;
    -o-transition: $property $duration $func;
    transition: $property $duration $func;
}