body p {
    line-height: 1.8em;
}

main {
    padding: 4em 0 0 0;
}

a:hover {
    color: rgb(0, 77, 201);
}

// Override for max-width
.post, .posts {
    max-width: 1400px;
    padding: 2em 0 0 0;
}

.header__inner {
    width: 100%;
    max-width: 1400px;
}

ul.menu__inner {
    padding-right: 0;

    & li:last-of-type {
        margin-right: 0;
    }
}

.logo__cursor {
    background: rgb(59 130 246)
}

// Code copy
$buttonColour: #e2e2e2;

.toolbar {
    display: none !important;
}

.copy-code-button {
    float: right;
    display: block;
    padding: 8px 12px;
    font-size: 0.9em;
    background-color: $buttonColour;
    border-left: 1px solid $buttonColour;
    border-bottom: 1px solid $buttonColour;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    transition: all 250ms ease;
    margin: -18px;

    &:hover {
        cursor: pointer;
        opacity: .7;
        border-style: solid;
    }
    &:focus {
        background-color: $buttonColour;
        outline: 0;
        border-style: solid;
    }
    &:active {
        background-color: $buttonColour;
        opacity: .5;
        border-style: solid;
    }

    opacity: 0;
}

pre:hover .copy-code-button {
    opacity: 1;
}

.copy-code-button ~ pre
{
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;

    & th {
        background-color: #cecece;
        color: #222;
    }

    & tr {
        margin: 0;
        padding: 0;

        &:first-child {
            border-left: 1px solid #acacac;
            border-top: 1px solid #acacac;
            border-right: 1px solid #acacac;
        }

        & td:first-child {
            border-left: 1px solid #acacac;
        }

        & td:last-child {
            border-right: 1px solid #acacac;
        }
    }

    & td, & th {
        padding: 0.5em;
        border-bottom: 1px solid #acacac;
        margin: 0;
    }
}

h2 {
    margin-top: 1.5em;
}

h2, h3, h4, h5 {
    & a:link, & a:visited {
        text-decoration: none
    }

    & a:hover {
        text-decoration: underline;
    }
}

#promotions {
    & img {
        margin: 20px auto;
    }
}

#sponsorMessage {
    width: 100%;
    background: #FFDF00;
    color: #242325;
    padding: 10px;
    font-size: 0.9em;
}

.flex-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.flex-box {
    display: block;
}

.hidden {
    display: hidden;
}

.post-title {
    font-weight: bold;
}

.post-summary {
    font-style: italic;
    font-size: .8em;
    color: #222;
}

.post-tags {
    font-size: .9em;

    span.tag {
        margin: 0 .5em;
        color: #111;
        text-decoration: underline;
    }
}

#introduction {
    margin: 0 auto;
    text-align: center;

    & p {
        display: block;
        text-align: center;

        &:first-child {
            font-weight: bold;
            font-size: 1.4em;
        }

        &:nth-child(2) {
            font-size: 1.3em;
            font-style: italic;
        }
    }
}

#introduction-container {
    width: 80%;
    max-width: 1400px;
    text-align: center;
}

#introduction-whatido {
    margin-top: 2em;
    background-color: #fafafa;
    width: 100%;
    padding: 3em 0;

    & * {
        text-align: center;
    }

    & p {
        text-align: left;
    }

    & .flex-box {
        margin: 0 2.5em;
        width: 100%;

        & span.home-link {
            font-size: 1.8em;
            margin-bottom: 2em;
            color: #0665ff;
            font-weight: bold;
            text-align: center;

            & a, & a:link {
                text-align: center;
                text-decoration: none;
            }
        }
    }
}

.footer {
    padding: 0;
}

@media print {
    .copy-code-button {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .copy-code-button {
        background-color: darken($buttonColour, 30%);
        color: #323232;
    }

    .post-tags span.tag, .post-summary {
        color: #eaeaea
    }
}

@media (max-width: 1450px) {
    .posts, .post, main {
        padding: 2em 4em;
    }
}