$breakpoints: (
    mobile :  320px,
    tablet :  740px,
    desktop:  980px,
    wide   :  1300px
);

$widths: (
    mobile :  97%,
    tablet :  90%,
    desktop:  80% 
);

$titleSpacing: (
    mobile: .1em,
    tablet: .25em,
    desktop: .4em
);

$iconSpacing: (
    mobile: .5em,
    tablet: 1em,
    desktop: 2em
);