$defaultColour: #fff;

$primaryColour: #111; //5f5f5f
$secondaryColour: lighten($primaryColour, 25%);

// Body
$bodyCopyColour: #444; // 222
$bodyBackgroundColour: #f9f9f9;// $defaultColour; 
$headingsDefaultColour: #161616; // 111

// Header
$headerBackgroundColour: #fff;
$headerBackgroundHoverColour: $headerBackgroundColour;
$headerBorderColour: lighten($secondaryColour, 50%);
$headerFontColour: #000;

// Logo
$logoFillColour: #000;
$logoFillHoverColour: #333;

// Links
$defaultLinkColour: $primaryColour;
$defaultLinkHoverColour: #880000; //darken($defaultLinkColour, 25%);

// footer 
$footerBackgroundColour: #dedede;
$footerTextColour: darken($footerBackgroundColour, 50%);

// misc
$defaultPreBorderColour: #cdcdcd;
$defaultPreFontColour: #444;
$inlineCodeColour: #b30000;