$defaultColour: #fff;

$primaryColour: #000; //5f5f5f
$secondaryColour: lighten($primaryColour, 25%);

// Body
$bodyCopyColour: #000; // 222
$bodyBackgroundColour: #ecf0ef;// $defaultColour; 
$headingsDefaultColour: #161616; // 111

// Header
$headerBackgroundColour: #111;
$headerBackgroundHoverColour: $headerBackgroundColour;
$headerBorderColour: lighten($secondaryColour, 50%);
$headerFontColour: #fff;

// Logo
$logoFillColour: #fff;
$logoFillHoverColour: #fff;

// Links
$defaultLinkColour: $primaryColour;
$defaultLinkHoverColour: #A83840; //darken($defaultLinkColour, 25%);

// footer 
$footerBackgroundColour: #dedede;
$footerTextColour: darken($footerBackgroundColour, 25%);

// misc
$defaultPreBorderColour: #cdcdcd;
$defaultPreFontColour: #222;
$inlineCodeColour: #973255;