{{ define "main" }}


<div class="bg-white px-6 py-32 lg:px-8">
  <article itemscope itemtype="https://schema.org/BlogPosting" class="mx-auto max-w-5xl text-base leading-7 text-gray-700">
    <meta itemprop="wordCount" content="{{ .Content | countwords }}">
    {{- partial "breadcrumb" . -}}
    {{/* <p class="text-base font-semibold leading-7 text-indigo-600">Introducing</p> */}}
    <h1 itemprop="name" class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ .Title }}</h1>
    <div>
      <p>Posted by <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">
            {{/* TODO :: Support multiple authors? */}}
            <a itemprop="url" href="/profile">Stuart Blackler</a>
          </span>
        </span> on <time itemprop="datePublished" datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>.</p>
    </div>
    {{- if eq .Params.toc true -}}
    <nav class="mb-6 bg-slate-50 p-6 w-fit rounded-lg">
      <h4 class="mt-0">Table of Contents</h4>
      {{- range .Fragments.Headings }}
      <ul class="space-y-1 pl-8 list-disc">
        {{- range .Headings }}
        <li><a class="hover:text-orange-600" href="#{{ anchorize .ID }}">{{ .Title }}</a></li>
        {{- if .Headings }}
        <ul class="space-y-1 pl-4 list-disc">
          {{- range .Headings }}
          <li><a class="hover:text-orange-600" href="#{{ anchorize .ID }}">{{ .Title }}</a></li>
          {{- end }}
        </ul>
        {{- end }}
        {{- end }}
      </ul>
      {{- end }}
    </nav>
    {{- end -}}
    <section itemprop="articleBody">
      {{ .Content }}
    </section>
  </article>
</div>

{{ end }}