{{ define "main" }}

<div class="bg-white px-6 py-8 lg:px-8">
  <article itemscope itemtype="https://schema.org/BlogPosting"
    class="mx-auto max-w-5xl text-base leading-7 text-gray-700">
    <meta itemprop="wordCount" content="{{ .Content | countwords }}">
    <meta itemprop="abstract" content="{{ .Summary }}">
    {{- partial "breadcrumb" . -}}
    <h1 itemprop="name headline" class="mt-2 mb-0 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ .Title }}</h1>
    <div>
      {{- partial "microdata" . -}}
      <p class="font-normal text-gray-400 text-xs md:text-base italic m-0">Posted by <a itemprop="url" href="/about">Stuart Blackler</a>
        on <time itemprop="datePublished" datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>.
        Last Updated on <time itemprop="dateModified" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" }}">{{ .Lastmod.Format "January 2, 2006"
          }}</time>.

        {{- with .Params.tags }}
        Tagged:
        {{- range . -}}
        <span class="inline mx-2 font-small"><a href="{{ " tags/" | absLangURL }}{{ . | urlize }}/" title="{{.}}"
            class="hover:text-orange-500">{{.}}</a></span>
        {{- end }}
        {{- end }}
      </p>
    </div>
    {{- if eq .Params.toc true -}}
    <nav class="mb-2 bg-slate-50 p-6 w-fit rounded-lg">
      <h4 class="mt-0">Table of Contents</h4>
      {{- range .Fragments.Headings }}
      <ul class="space-y-1 pl-1 list-disc">
        {{- range .Headings }}
        <li><a class="hover:text-orange-600" href="#{{ anchorize .ID }}">{{ .Title | safeHTML }}</a></li>
        {{- if .Headings }}
        <ul class="space-y-1 pl-4 list-disc">
          {{- range .Headings }}
          <li><a class="hover:text-orange-600" href="#{{ anchorize .ID }}">{{ .Title | safeHTML }}</a></li>
          {{- end }}
        </ul>
        {{- end }}
        {{- end }}
      </ul>
      {{- end }}
    </nav>
    {{- end -}}
    <section itemprop="articleBody">
      {{ .Content }}
    </section>
    {{ partial "body-author" . }}
    {{ if .Params.series }}
    {{ $currentSeries := .Params.series }}
    {{ $series := where .Site.RegularPages "Params.series" "in" $currentSeries }}
    {{ if gt (len $series) 1 }}
    <div class="mt-4 border-t border-slate-400">
      <p><a name="series"></a><b>More in the <i>'{{ $currentSeries }}'</i> series:</b></a></p>
      <ol>
        {{- with $series -}}
        {{- range . -}}
        <li>
          {{- if eq .File.UniqueID $.File.UniqueID -}}
          <b>{{ .Title }} <i>(This article)</i></b>
          {{- else -}}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{- end -}}
        </li>
        {{- end -}}
        {{- end -}}
      </ol>
      {{- with index (.GetTerms "series") 0 -}}
      <p><a href="{{ .Permalink }} ">View All Articles</a></p>
      {{- end -}}
    </div>
    {{- end -}}
    {{- end -}}
  </article>
</div>

{{ end }}