@import 'global/breakpoints';
@import 'global/colours';
@import 'global/defaults';
@import 'global/mixins';

.article-list {
    & > footer {
        margin: 1em auto;
        @include fontSize(1.25em);
    }

    & .article footer {
            margin-bottom: 0;
    }
}

.article{

    background: $defaultColour;
    padding: 0 2em 1em 2em;
    border: 1px solid $headerBorderColour;
    margin: 2em 0;

    &-content {
        & a:link, & a:visited {
            color: darken($inlineCodeColour, 10%);
        }

        & a:hover {
            color: $secondaryColour;
        }
    }

    &-footer{
        margin: $defaultMargin auto;
    }

    & blockquote {
        border-left: 5px solid lighten($defaultPreFontColour, 25%);
        padding: 25px;
        margin-left: -10px;
        font-style: italic;
        font-weight: bold;
        //color: lighten($bodyCopyColour, 45%);
        margin-bottom: 1em;
        background: $defaultColour;
        @include fontSize(1.5em);

        & p {
            margin: 0;
        }
    }

    & pre {
        @include fontSize(1em);
        margin: $defaultMargin / 2;
        padding: $defaultMargin / 2;
        white-space: pre;
        overflow-x: scroll;
        @include transition(background, 2s);
        @include transition(border-color);
        @include transition(color, 75ms);

        &:hover{
            color: #fff;
            background: #333;
            border-color: #777;
        }
    }

    & img {
        max-width: 100%;
    }

    & .article-header p {
        font-style: italic;
    }

    & .warning {
        margin: 2em;
        padding: 1em 2em;
        color: #8A6D3B;
        background-color: #fcf8e3;
        border: 1px solid #8A6D3B;
        text-align: center;

        & h1, & h2, &h3, & h4, & h5 {
            font-weight: 700;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}

ul.article-tags {
    margin-left: $defaultHalfMargin;
    display: inline;
    list-style: none;

    & li {
        display: inline;

        &:not(:last-child):after{ 
            content: ", ";
        }

        &:last {
            margin-right: 0;
        }
    }
}

a.article-tag {
    &:link, &:visited {
        color: $inlineCodeColour;
    }

    &:hover {
        color: $secondaryColour;
    }
}