@import 'global/breakpoints';
@import 'global/colours';
@import 'global/defaults';
@import 'global/mixins';

.article-list {
    & > footer {
        margin: 1em auto;
        @include fontSize(1.25em);
    }

    & .article footer {
            margin-bottom: 0;
    }
}

article.article{
    &-header {

    }

    &-content {

    }

    &-footer{
        margin: $defaultMargin auto;
    }

    & pre {
        @include fontSize(1em);
        margin: $defaultMargin;
        white-space: pre-wrap;
    }
}

time.article-header-time {

}

ul.article-tags {
    margin-left: $defaultHalfMargin;
    display: inline;
    list-style: none;

    & li {
        display: inline;

        &:not(:last-child):after{ 
            content: ", ";
        }

        &:last {
            margin-right: 0;
        }
    }
}

a.article-tag {
    &:link, &:visited {
        color: $secondaryColour;
    }
}