@import 'global/colours';
@import 'global/defaults';

#pageHeader {
    background: $headerBackgroundColour;
    color: $headerFontColour;
    padding: ($defaultPadding / 2) 0;
    border-bottom: 1px solid $headerBorderColour;

    &:hover{
        background: $headerBackgroundHoverColour;
        border-bottom-color: darken($headerBorderColour, 10%);
    }

    &-nav {
        float: right;

        &-ul {
            float: right;
            margin: 0;
            list-style: none;

            & li {
               float: left;
               margin-left: $defaultMargin;
            }
        }
    }

    &-about {
        & section {
            width: 100%;
            clear: both;
            text-align: center;
            margin: 2em 0;
        }

        & h4 {
            font-style: italic;
        }

        & h1, & h2, & h3, & h4 {
            text-align: center;
            line-height: normal;
        }

        &-links-nav{
            &-ul {      
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                list-style: none;

                & li {
                    display: flex;
                    align-items: flex-start;
                }
            }
        }
    }
}

a.pageHeader-nav-ul-li-link {
    &:link, &:visited {
        color: $headerFontColour;
        font-weight: 900;
        @include font("Reader");
    }

    &:hover {
        color: lighten($defaultLinkHoverColour, 10%);
    }
}