@import 'global/breakpoints';
@import 'global/defaults';

.pageContainer{
    min-height: 100%;
    position: relative;

    &-content{
        margin: 0 auto;
        padding-bottom: ($defaultMargin * 6);
    }
}