@import 'global/colours';
@import 'global/mixins';


#pageFooter {
    padding: ($defaultMargin * 2) 0;
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    background: $footerBackgroundColour;
    color: $footerTextColour;
    position: absolute;
    bottom: 0;

    @include fontSize(.9em);

    & a {
        color: inherit;
    }
    
    &-copyright {

    }

    &-details {

    }

    &-scroll{

    } 
}

.pageFooter-section {
    flex-grow: 1;
    text-align: center;
    
    &:hover {
        color: darken($footerTextColour, 25%);
    }
}