<div class="mt-4 border-t border-slate-400" itemscope itemtype="https://schema.org/Person">
    <p>
        <a href="/about/" title="About Stuart Blackler" itemprop="name">Stuart Blackler</a> is a seasoned technologist with over <span
            itemprop="experienceInPlaceOfEducation">15 years of commercial experience in the .NET ecosystem</span>.
        Holding a degree in <span itemprop="alumniOf">Computer Science</span>, Stuart has earned
        certifications as a C# developer through Microsoft and as an AWS Solutions Architect and Developer. Stuart is
        the creator of the popular YouTube channel <a href="https://youtube.com/@codewithstu"
            itemprop="url">CodeWithStu</a>, where he delves into topics close to his heart, including .NET, AWS, DevOps,
        and software architecture with a commitment to sharing knowledge and fostering a community of learners.
    </p>
</div>