<meta property="og:image" content="https://im5tu.io/img/profile.png" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<link rel="alternate" type="application/rss+xml" href="/article/index.xml" title="Stuart Blackler's Blog">
<link rel="preconnect" href="https://api.github.com">
<link rel="preconnect" href="https://partner.googleadservices.com">
<link rel="preconnect" href="https://tpc.googlesyndication.com">
<link rel="preconnect" href="https://www.googletagservices.com">
<link rel="preconnect" href="https://googleads.g.doubleclick.net">
<link rel="preconnect" href="https://pagead2.googlesyndication.com">
<link rel="preload" href="/fonts/Inter-UI-Bold.woff2">
<link rel="preload" href="/fonts/Inter-UI-Regular.woff2">
{{ $siteCssHash := (index .Site.Data.hash "site.css")}}
{{ $siteCssPath := (printf "/static/css/%s" $siteCssHash) }}
<style>{{- readFile $siteCssPath | safeCSS -}}</style>
{{ if not .Site.IsServer }}
<script defer data-domain="im5tu.io" src="https://plausible.io/js/script.js"></script>
<!-- Google AdSense -->
<script data-ad-client="ca-pub-8597760177900459" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{{ end }}