<!-- TODO :: Update all titles -->
<!-- TODO :: Update all descriptions -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ if .Page.Description }}{{.Page.Description}}{{ else }}Bridging the gap between cloud compliance and operational excellence.{{ end }}">
<meta name="keywords" content="">
<title>{{ if .IsHome }}CodeWithStu{{ else }}{{ .Title }} | CodeWithStu{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}" />
 <!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ if .IsHome }}Kortex - Your Cloud, Your Rules{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ if .Page.Description }}{{.Page.Description}}{{ else }}Bridging the gap between cloud compliance and operational excellence.{{ end }}">
<meta property="og:image" content="https://kortex.sh/media/logo.svg">
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="kortex.sh">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ if .IsHome }}Kortex - Your Cloud, Your Rules{{ else }}{{ .Title }}{{ end }}">
<meta name="twitter:description" content="{{ if .Page.Description }}{{.Page.Description}}{{ else }}Bridging the gap between cloud compliance and operational excellence.{{ end }}">
<meta name="twitter:image" content="https://kortex.sh/media/logo.svg">
{{ partial "head-extra" . }}
<style type="text/css">
{{ $css := resources.Get "app.css" }}
{{ $style := $css | resources.Minify | resources.Fingerprint }}
{{ $style.Content | safeCSS }}
</style>