<div itemprop="author" itemscope itemtype="http://schema.org/Person" id="codewithstu" class="hidden">
    <meta itemprop="name" content="Stuart Blackler" />
    <meta itemprop="jobTitle" content="Principal Software Engineer" />
    <meta itemprop="description"
        content="I help you grow as a developer. I love to talk about #aws, #devops, #dotnet, #aspnetcore, and #opentelemetry" />
    <meta itemprop="knowsAbout"
        content="AWS, DevOps, .NET, ASP.NET Core, OpenTelemetry, C#, .Net Core, Kubernetes, XUnit, Git, Github, FluentAssertions, SQL Server, Azure, Docker, Kubernetes, Apache Kafka, Elasticsearch, Redis, SAP Business One, WCF, TFSVC" />
    <link itemprop="sameAs" href="https://twitter.com/CodeWithStu" />
    <link itemprop="sameAs" href="https://bsky.app/profile/codewithstu.tv" />
    <link itemprop="sameAs" href="https://github.com/im5tu" />
    <link itemprop="sameAs" href="https://www.linkedin.com/in/codewithstu/" />
    <link itemprop="sameAs" href="https://www.youtube.com/@CodeWithStu" />
    <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Illuvium.io" />
        <meta itemprop="url" content="https://illuvium.io/" />
        <meta itemprop="description"
            content="Principle C# Engineer, January 2024 - Present. London, England, United Kingdom" />
    </div>
    <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Loupe" />
        <meta itemprop="url" content="https://loupe.work" />
        <meta itemprop="description"
            content="Principal Engineer, August 2022 - December 2023. London, England, United Kingdom. Guided teams, AWS infrastructure, reduced build times, updated coding standards." />
    </div>
    <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Checkout.com" />
        <meta itemprop="url" content="https://checkout.com" />
        <meta itemprop="description"
            content="Principal Engineer, March 2021 - July 2022. London, England, United Kingdom. Technical direction, auditing/security architectures, AWS Organisational Accounts, observability & security packages." />
    </div>
    <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="GfK" />
        <meta itemprop="url" content="https://https://www.gfk.com/" />
        <meta itemprop="description"
            content="Senior Software Engineer (Contract), October 2018 - June 2019. Slough, United Kingdom. Migrated crawling platform to AWS, performance troubleshooting, and growth strategies." />
    </div>
    <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="ClearBank" />
        <meta itemprop="url" content="https://clear.bank" />
        <meta itemprop="description"
            content="Lead Architect, June 2018 - October 2018. London, United Kingdom. Designed core infrastructure, Open Banking integration, technical workshops, and customer integrations." />
    </div>
    <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="4Com" />
        <meta itemprop="url" content="https://www.4com.co.uk/" />
        <meta itemprop="description"
            content=".Net Developer, September 2014 - October 2016. Bournemouth, United Kingdom. Adopted high-availability solutions, re-designed legacy architectures, and mentored junior developers." />
    </div>
    <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Codestone Group Ltd" />
        <meta itemprop="url" content="https://www.codestone.net/" />
        <meta itemprop="description"
            content="Software Engineer, August 2013 - September 2014. Poole, Dorset, United Kingdom. Implemented solutions for SMEs, introduced agile processes, and mentored developers." />
    </div>
    <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Cemoc" />
        <meta itemprop="url" content="https://www.cemoc.co.uk/" />
        <meta itemprop="description"
            content="Software Developer, October 2009 - August 2012. Wootton Bridge, Isle of Wight, United Kingdom. Worked with various sized companies, responsible for product lifecycle and client support." />
    </div>
    <div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
        <meta itemprop="name" content="Bournemouth University" />
        <meta itemprop="url" href="https://www.bournemouth.ac.uk/" />
        <meta itemprop="description"
            content="BSc Computing, Advanced Networking and Data Mining (2012 - 2013)" />
    </div>
    <div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
        <meta itemprop="name" content="Isle of Wight College" />
        <meta itemprop="url" href="https://www.iwcollege.ac.uk/" />
        <meta itemprop="description" content="HND, Computer And Software Development (2008 - 2010)" />
    </div>
    <div itemprop="hasCredential" itemscope itemtype="http://schema.org/EducationalOccupationalCredential">
        <meta itemprop="name" content="MCSD: Web Applications" />
        <meta itemprop="url" href="https://www.microsoft.com/" />
        <meta itemprop="educationalLevel" content="Certification" />
        <meta itemprop="recognizedBy" content="Microsoft" />
        <meta itemprop="dateCreated" content="2014-05" />
    </div>
    <div itemprop="hasCredential" itemscope itemtype="http://schema.org/EducationalOccupationalCredential">
        <meta itemprop="name" content="MCP Programming C#" />
        <meta itemprop="url" href="https://www.microsoft.com/" />
        <meta itemprop="educationalLevel" content="Certification" />
        <meta itemprop="recognizedBy" content="Microsoft" />
        <meta itemprop="dateCreated" content="2013-06" />
    </div>
    <div itemprop="hasCredential" itemscope itemtype="http://schema.org/EducationalOccupationalCredential">
        <meta itemprop="name" content="AWS Certified Developer – Associate" />
        <meta itemprop="url" href="https://aws.amazon.com/certification/certified-developer-associate/" />
        <meta itemprop="educationalLevel" content="Certification" />
        <meta itemprop="recognizedBy" content="Amazon Web Services (AWS)" />
        <meta itemprop="dateCreated" content="2020-09" />
    </div>
    <div itemprop="hasCredential" itemscope itemtype="http://schema.org/EducationalOccupationalCredential">
        <meta itemprop="name" content="AWS Certified Solutions Architect – Associate" />
        <meta itemprop="url" href="https://aws.amazon.com/certification/certified-solutions-architect-associate/" />
        <meta itemprop="educationalLevel" content="Certification" />
        <meta itemprop="recognizedBy" content="Amazon Web Services (AWS)" />
        <meta itemprop="dateCreated" content="2020-09" />
    </div>
</div>