{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>

            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <div id="introduction">
                <p>Hey, I'm Stu!</p>
                <p>I help .NET & DevOps engineers expand their knowledge with tips, tricks and tutorials</p>
                {{- with .Site.Params.social }}
                    <div>
                        {{ partial "social-icons.html" . }}
                    </div>
                {{- end }}
            </div>
        </div>
    </main>

    <div id="introduction-whatido">
        <div id="introduction-container" class="flex-container">
            <div class="flex-box">
                <span class="home-link"><a href="https://youtube.com/@CodeWithStu" target="_blank">My YouTube Videos</a></span>
                <p>My YouTube page is where you'll learn about .NET, DevOps & AWS, including: Interviews with the .NET community, Testing techniques with packages like TestContainers, Making use of OpenTelemetry effectively in your applications and How to design specific architectures.</p>
            </div>
            <div class="flex-box">
                <span class="home-link"><a href="/article">My Blog Posts</a></span>
                <p>My blog is where I write down all of my thoughts about tech and other things, such as: Interviews with the .NET community, Interviews with the .NET community, Interviews with the .NET community and Interviews with the .NET community.</p>
            </div>
        </div>
    </div>
{{ end }}
