<article class="article" itemscope itemtype="http://schema.org/blog">
    <section class="warning">
        <p>This is a draft blog post. Any and all material contained here is subject to change.</p>
    </section>
{{ if .Params.series }}
    {{ $.Scratch.Add "cur_page_num" 1 }}
    {{ $.Scratch.Add "total_page_num" 0 }}
    {{ range where .Site.RegularPages.ByDate "Params.series" .Params.series }} 
        {{ $.Scratch.Add "total_page_num" 1 }}
        {{ if gt $.Date.Unix .Date.Unix }} 
            {{ $.Scratch.Add "cur_page_num" 1 }}
        {{ end }}
    {{ end }}
    <section class="series series-header">
        <p>This article is part of the <b>{{ .Params.series }}</b> series. You are reading part {{ $.Scratch.Get "cur_page_num" }} of {{ $.Scratch.Get "total_page_num" }}</p>
    </section>
{{ end }}
    <section class="article-content" itemprop="text">
    {{- .Content -}}
    </section>
    <footer class="article-footer">
        {{ if .Params.series }}
        <section class="series">
            <p>Other posts in the <b>{{ .Params.series }}</b> series:</p>
            <ol>
            {{ $.Scratch.Add "current" .Permalink }}
            {{ range where .Site.RegularPages.ByDate "Params.series" .Params.series }}
                {{ if eq ($.Scratch.Get "current") .Permalink }}
                <li>{{ .Title}} (This Article)</li>
                {{ else if lt $.Date.Unix .Date.Unix }}
                <li>{{ .Title}}</i></li>
                {{ else }}
                <li><a href="{{.Permalink}}">{{ .Title}}</a></li>
                {{ end }}
            {{ end }}
            </ol>
        </section>
        {{ end }}
        <hr />
        {{- partial "article/tags" .Params -}}
    </footer>
</article>